# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
venv/

# IDE/editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Testing / coverage
.coverage
.cache/
.pytest_cache/
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/
*.egg

# Local credentials
key.json
.env

# Packaging
*.tar.gz
*.whl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
